__pycache__/timescape.cpython-312.pyc
test_timescape.cpython-312-pytest-7.4.4.pyc
timescape.egg-info/dependency_links.txt
timescape.egg-info/PKG-INFO
timescape.egg-info/requires.txt
timescape.egg-info/SOURCES.txt
timescape.egg-info/top_level.txt
*.pyc